<div class="get">
<div class="boxed">

  <form >
   <h3> <input type="text" name="name" value=" {{product?.propertyName}}"></h3><br><br>
   Product Code<br>  
   <input type="text" name="code" value="    {{product?.propertyCode}}" ><br><br>
   Description<br>
     <input type="textarea" name="desc" value=" {{product?.description}}"><br><br>
    Rent<br>
     <input type="text" name="rent" value=" {{product?.rent}}" ><br><br>
     Star Rating<br>
     <input type="text" name="star" value=" {{product?.starrating}}" ><br><br>
      Image<br>
     <input type="text" name="image" value=" {{product?.imageUrl}}"><br><br>
    Address<br>
     <input type="text" name="add" value="  {{product?.address}}"><br><br>
 
      ContactNumber<br>
     <input type="text" name="cnum" value=" {{product?.contactnumber}}"><br><br>
 
   <!-- <button type="button">submit</button> -->
   
 
   </form>
</div>
</div>