<nav class="navbar navbar-expand-sm " style="background-color: rgba(0, 0, 0, 0.267);">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="property">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="newproperty">New Property</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
  </ul>

</nav>
